 
<label for="my-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
<h2 class="text-center text-purple-600 text-2xl font-bold mb-4">Login</h2>
<form action="/auth/sign-in" method="POST">
    <div class="mb-3">
        <label for="email" class="block text-white">E-Mail</label>
        <input type="email" id="email" name="email" class="input input-bordered w-full text-white">
    </div>
    <div class="mb-4">
        <label for="password" class="block text-white">Password</label>
        <input type="password" id="password" name="password" class="input input-bordered w-full text-white">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary w-full">Login</button>
    </div>
    <div class="text-center mt-3">
        <button type="button" class="btn btn-secondary" hx-get="/auth/sign-up" hx-target="#modal-content" hx-trigger="click">Sign Up</button>
    </div>
</form>
